# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/

# PyInstaller output
dist/
build/
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS-specific
.DS_Store
Thumbs.db
desktop.ini

# Logs and temp
*.log
*.tmp
